.App {
  padding-top: 20px;
}

/* Center the container holding the contacts */
.contacts_list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers cards horizontally */
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers cards horizontally */
}

.card {
  width: 80%; /* Smaller width */
  max-width: 500px; /* Maximum size to keep cards compact */
  margin-bottom: 20px; /* Space between cards */
  transition: all 0.3s ease-in-out; /* Smooth transition for interaction */
}

.card:hover {
  transform: scale(1.02); /* Slight scale to indicate interactivity */
}

.btn {
  position: relative;
  margin-top: 10px; /* Adds some space above the button */
  margin-bottom: 20px; /* Adds space below the button */
  width: auto; /* Adjust width as needed or use auto for content width */
  background-color: #6c757d; /* Dark grey button background */
  color: #fff; /* White text color */
  border: none; /* Optional: removes border */
}

/* Dark mode specific styles */
.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

.dark-mode input,
.dark-mode .form-check-label {
  background-color: #495057;
  color: #f8f9fa;
}

.dark-mode .card {
  background-color: #495057;
  color: #f8f9fa;
}

.dark-mode a {
  color: #0d6efd;
}

.dark-mode .btn-light {
  background-color: #f8f9fa;
  color: #343a40;
}

