body, h1, h2, h3, p, a {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Consistent font throughout the app */
}

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}


#root {
  padding: 20px;
  display: flex; /* Enables centering of the app container */
  justify-content: center; /* Centers the app container horizontally */
  align-items: center; /* Centers the app container vertically */
  min-height: 100vh; /* Ensures the app container takes at least the full height of the viewport */
}
